.layout {
  height: 100vh;
  padding: 0;
  display: grid;
  grid-template-areas:
          'music-player chat'
          'canvas-container chat'
          'donate chat';
  grid-template-columns: 70% 30%;
  grid-template-rows: 97px calc(100vh - 194px) 97px;

  &__canvas-container {
     grid-area: canvas-container;
     position: relative;
   }

  &__chat {
    grid-area: chat;
    min-width: 200px;
  }

  &__music-player {
    grid-area: music-player;
  }

  &__donate {
    grid-area: donate;
  }

  .gui-container > [class^="leva-"] {
    position: absolute;
  }

  @media (max-width: 991px) {
    padding: 0;
    grid-template-areas:
          'canvas-container'
          'chat';
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 50%);

    &__canvas-container {
      height: auto;
    }

    &__music-player {
      display: none;
    }

    &__donate {
      display: none;
    }
  }
}


